nav {
    width: 100%;
}

nav .slide{
    width: 100%;
    z-index: 1;
}

nav .slide .slides {
    transition: left 0.15s;
    left: 0px;
    flex-shrink: 0;
}

nav .swiper-button-next, nav .swiper-button-prev {
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(172, 172, 172);
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
}

nav .slide:hover {
    .swiper-button-next, .swiper-button-prev {
        opacity: 0.8;
    }
}

nav .swiper-button-prev {
    left: 5%;
}

nav .swiper-button-next {
    right: 5%;
}