.review_photo button img {
    width: 120px; 
    height: 120px; 
    object-fit: cover;
}

.review_wrap h2 {
    font-size: 23px;
}

.review_wrap .review_photo {
    padding: 30px 0;
}

.review_wrap .review_photo button{
    background-color: transparent;
    padding-left: 5px;
    border: none;
}

.review_wrap .review_top {
    display: flex;
}

.review_wrap .review_count {
    font-size: 13px;
    font-weight: 600;
}

.review_wrap .review_sort{
    width: 20%;
    margin-left: auto;
    display: flex;
    justify-content: end;
    button {
        border: none;
        background-color: transparent;
        font-size: 13px;
        font-weight: 600;
    }
    padding-bottom: 60px;
}

.review_wrap .review_sort .separator {
    width: 1px;
    height: 13px;
    background-color: gray;
    margin: 3px 10px 0 10px;
}

.review_wrap .review_main_item {
    border-top: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 30px 0;
    display: flex;
    .writer_info{
        width: 20%;
        margin-left: 30px;
        font-size: 15px;
        font-weight: 600;
    }
    article{
        padding: 0;
        width: 80%;
    }
}

.review_wrap article {
    .item{ 
        color: rgb(163, 163, 163); padding-bottom: 15px;
        font-size: 12px;
    }
    p{
        font-size: 14px; font-weight: 600;
        padding-bottom: 15px;
    }
    .photo button{
        background-color: transparent;
        padding-left: 5px;
        border: none;
    }
    .photo button img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
    }
    .date {
        color: rgb(163, 163, 163); padding-top: 15px;
        font-size: 10px;
    }
}